[newrelic]
;; IP address or hostname for webhook to bind to
host = 0.0.0.0

;; Port for webhook
port = 8080

[boundary]
;; The Boundary user's API key used to submit the event.
;; Found under Organization -> Organization Settings -> API Access.
;; Can also be specified with '--api-key' option.
api-key = 

;; The Boundary organization id where the event should be added.
;; Found under Organization -> Organization Settings -> API Access
;; Can also be specified with '--organization-id' option.
organization-id = 
